<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p>Still no worries :) Try to debug whatever error is coming up.</p>
        </div>
    </div>
</div>